@import url('https: //fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* universal sign  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html,
body {
    font-size: 16px;
}

body {
    margin: 50px;
}

main {
    background: rgb(245, 245, 245);
    margin: 10px 0;
}

.title {
    padding: 20px 0;
}

main nav {

    & .Nav {
        background-color: rgb(0, 162, 255);
        text-align: center;
        padding: 15px;
        margin-bottom: 15px;
    }

    & a {
        margin: 0 10px;
        color: white;
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: rgb(217, 253, 248);
            text-decoration: underline;
        }

    }
}

hr {
    border: 1px solid rgb(172, 172, 172);
    margin: 15px 0;
}

main .Content {
    background: white;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 10px;

    perspective: 900px;


    & p {
        margin: 15px;
    }

    & img {
        width: 400px;
        border-radius: 10px;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        
        &:hover{
            transform: translate3d(200px ,0 ,50px);
            /* transform:  scale(1.3) rotate(360deg); */
            box-shadow: 10px 10px 40px black;
        }
    }

    & h3 {
        margin: 15px;
    }

    & ul {
        margin: 5px;
        background: rgb(237, 248, 229);
        border: 1px solid gainsboro;
        border-radius: 10px;
        padding: 10px 20px;


        & li {
            padding: 3px;
        }
    }
}

footer {
    background: black;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin-top: 5px;
}

.Form_section {
    display: flex;
    justify-content: center;
}

form {
    background: white;
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    line-height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;

    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;

    &:hover {
        border: 2px solid gray;
        transform: scale(1.1);
        box-shadow: 0 0 40px black;

    }



    & label {
        text-align: left;
        font-size: 20px;
        padding-left: 20px;
    }

    & input,
    & textarea {
        width: 100%;

        padding: 7px;
        margin-bottom: 15px;

        font-size: 18px;

        border: 2px solid lightgrey;
        border-radius: 10px;
        outline: none;

        &:hover {
            background: gainsboro;
            color: black;
            font-weight: 900;
        }

        &:focus {
            background: lightgoldenrodyellow;
            font-size: 1.5rem;
        }

        &:user-valid {
            background: lightgreen;
            border: 2px solid lightcyan;
        }

        &:invalid {
            background: lightcoral;
            border-color: red;
        }
    }

    button {
        background: lightgreen;
        font-weight: 600;

        outline: none;

        border: 0;
        border-radius: 10px;

        font-size: 1.1rem;
        padding: 5px 15px;

        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
        /* animation: none; */

        &:hover {
            background: lightskyblue;
            color: darkblue;
            transform: scale(1.1);
            /* animation: button_anime 1s cubic-bezier(0.19, 1, 0.22, 1) both; */

        }

    }

}

@keyframes button_anime {
    0% {
        transform: translateX(0);
        /* No movement at the start */
    }

    50% {
        transform: translateX(100px);
        /* Move 10px to the right */
    }

    100% {
        transform: translateX(0);
        /* Return to the original position */
    }
}
