@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

main {
    width: 100%;
    height: 100%;
    color: white;
}

nav {
    padding: 20px;
    z-index: 1;
    /* Text is on top */
    position: fixed;
    /* Fix nav at top of the page */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.5);
    /* Add semi-transparent black background */

    transition: all linear 0.3s;
}

/* Blurred background */
nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    z-index: -1;
    }

/* Nav links */
nav a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1,
.d-2,
.d-3,
.d-4,
.d-5 {
    background: #222;
    /* Sample backgrounds for sections */
}

h2 {
    font-size: 8rem;
}
