@import url('https: //fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* universal sign  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    background-color: #212020;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.box {
    background: #000;
    border: 6px solid #d2b9b9;
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

button{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    /* color: rgb(255, 0, 0); */
    background: #cbf050;
    font-weight: 600;
    
}

button:active{
    scale: 0.80;
}
